.ql-align-right {
  text-align: right;
}

.ql-align-center {
  text-align: center;
}

.ql-align-justify {
  text-align: justify;
}

.quill-content ol {
  list-style-type: decimal;
}

.quill-content li[data-list] {
  margin-left: 1rem;
}

.quill-content li[data-list="ordered"] {
  list-style-type: decimal;
}

.quill-content li[data-list="bullet"] {
  list-style-type: disc;
}
