.profileButton {
  border-radius: 50%;
  border: 1px solid var(--color-white);
  overflow: hidden;
  background-color: var(--color-gray-300);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.profileButton.small {
  width: 3.5rem;
  height: 3.5rem;
}

.profileButton.large {
  width: 5rem;
  height: 5rem;
}

.profileImage {
  width: 120%;
  height: 120%;
  object-fit: cover;
}

.defaultIconSmall {
  width: 1.3rem;
  height: 1.3rem;
}

.defaultIconLarge {
  width: 2.6rem;
  height: 2.6rem;
}

.profileButton:hover:not(:disabled) {
  opacity: 0.7;
}
