.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 78rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.header {
  width: 100%;
  background-color: var(--color-white);
}

/* Tablet (768px ~ 1024px) */
@media (max-width: 1024px) {
  .container {
    width: 100%;
    padding: 0 1.5rem;
  }
}

/* Mobile (Max 767px) */
@media (max-width: 767px) {
}
