.toast {
  display: flex;
  position: fixed;
  bottom: 3.123rem;
  margin: auto;
  top: 70;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 32.75rem;
  height: 4rem;
  background-color: rgba(24, 24, 24, 0.7);
  border: none;
  border-radius: 0.5rem;
  padding: 1.25rem;
  align-items: center;
  opacity: 0;
  animation:
    fadeIn 0.5s forwards,
    fadeOut 0.5s 4.5s forwards;
}

.hidden {
  display: none;
}

.message {
  color: var(--color-white);
}

.iconWrapper {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 100px;
  background-color: var(--color-green-500);
  position: relative;
  margin-right: 0.75rem;
}

.checkIcon {
  position: absolute;
  top: 0.45625rem;
  left: 0.3475rem;
  width: 0.794375rem;
  height: 0.61875rem;
  filter: invert(62%) sepia(60%) saturate(379%) hue-rotate(189deg)
    brightness(90%) contrast(83%);
}

.closeIcon {
  position: absolute;
  left: 29.375rem;
  width: 0.9375rem;
  height: 0.9375rem;
  cursor: pointer;
}

@keyframes fadeIn {
  0% {
    transform: translateX(-50%) translateY(20px);
    opacity: 0;
  }
  100% {
    transform: translateX(-50%) translateY(0);
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    transform: translateX(-50%) translateY(20px);
    opacity: 0;
  }
}
