.card {
  width: 17.188rem;
  height: 16.25rem;
  padding: 16px;
  border-radius: 1rem;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  position: relative;
  cursor: pointer;
  overflow: hidden;
}

.profileContainer {
  width: 14.188rem;
  height: auto;
  display: flex;
  flex-direction: column;
}

.profileImage {
  display: flex;
  margin-top: 0.5rem;
}

.profileImages {
  width: 1.75rem;
  height: 1.75rem;
  border-radius: 50%;
  display: flex;
  flex-direction: row;
  border: 1.5px solid var(--color-white);
  object-fit: cover;
  margin-bottom: 0.8rem;
}

.userCountText {
  margin-top: 0.375rem;
  font-size: 1rem;
  color: var(--color-gray-700);
  font-weight: var(--font-weight-bold);
}

.badgeContainer {
  display: flex;
  gap: 0.5rem;
  margin-top: 12px;
}

.profileContainer img:not(:first-child) {
  margin-left: -0.5rem;
}

.cardMessage {
  font-size: 1.5rem;
  font-weight: var(--font-weight-bold);
  color: var(--color-gray-900);
  margin-bottom: 0.7rem;
}
