.card {
  width: 17.188rem;
  max-width: 100%;
  height: 16.25rem;
  padding: 1rem;
  border-radius: 1rem;
  overflow: hidden;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: space-between;
  position: relative;
  background-size: cover;
  background-position: center;
  padding: 1.875rem 1.5rem 1.25rem 1.5rem;
}

.cardBackground {
  position: absolute;
  width: 8.875rem;
  height: 8.875rem;
  bottom: 0;
  right: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom right;
  opacity: 0.6;
  z-index: 0;
}

.profileWrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}

.profileImage {
  width: 1.9375rem;
  height: 1.9375rem;
  border-radius: 50%;
  border: 0.09375rem solid white;
  overflow: hidden;
  position: relative;
  z-index: 1;
  margin-left: -0.8125rem;
}

.profileImage img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.profileImage:first-child {
  margin-left: 0;
}

.extraCount {
  width: 1.875rem;
  height: 1.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: #555555;
  font-weight: var(--font-weight-regular);
  font-size: 0.75rem; /* 전역 css에 없어서 이렇게 사용 */
  line-height: 1.125rem;
  position: relative;
  z-index: 2;
  border-radius: 1.875rem;
}

.reactionsWrapper {
  border-top: 0.0625rem solid rgba(0, 0, 0, 0.1);
  padding-top: 1.3rem;
  margin-top: 0.75rem;
  display: flex;
  justify-content: flex-start;
  margin-top: 0.5rem;
}

.reactionsContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.badge {
  width: 4.0625rem;
  height: 2.25rem;
  border-radius: 2rem;
  background: rgba(0, 0, 0, 0.54);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}

.userCount {
  font-size: 1rem;
  font-weight: var(--font-weight-regular);
  color: var(--color-gray-700);
  margin-top: 0.5rem;
  margin-top: 1.5rem;
  margin-top: 0.25rem;
}

.userCountNumber {
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-16);
}

.cardMessage {
  font-size: var(--font-size-24);
  font-weight: var(--font-weight-bold);
}

@media (max-width: 1024px) {
  .card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    justify-content: center;
  }
}

@media (max-width: 768px) {
  .card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.75rem;
  }
  .card {
    width: 13rem;
    max-width: 100%;
    height: 14.5rem;
    border-radius: 1rem;
    overflow: hidden;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: space-between;
    position: relative;
    background-size: cover;
    background-position: center;
    padding: 1.875rem 1.5rem 1.25rem 1.5rem;
  }
  .reactionsContainer {
    display: flex;
    gap: 0.25rem;
  }
  .badge {
    width: 3.4375rem;
    height: 2rem;
  }
  .cardMessage {
    font-size: var(--font-size-24);
    font-weight: var(--font-weight-bold);
  }
}

@media (max-width: 480px) {
  .card-container {
    display: grid;
    flex-direction: column;
    gap: 0.75rem;
    justify-content: center;
  }
}
