.button {
  width: auto;
  height: auto;
  padding: 0.375rem 1rem;
  line-height: var(--line-height-18);
  border: 1px solid transparent;
}

.button:focus {
  border: 1px solid transparent;
}

/* Tablet (768px ~ 1024px) */
@media (max-width: 1024px) {
  .button {
    position: relative;
    width: 10rem;
    padding: 0.875rem 0;
    font-size: var(--font-size-18);
    line-height: var(--line-height-18);
  }
}
