.container {
  position: relative;
}

.openButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.25rem;
  height: 2.25rem;
  background-color: var(--color-white);
  cursor: pointer;
}

.emojiDropdown {
  position: absolute;
  top: 2.75rem;
  right: -0.375rem;
  gap: 0.5rem;
  display: flex;
  align-items: baseline;
  width: 20rem;
  min-height: 8.375rem;
  max-height: 20rem;
  padding: 1.5rem;
  background-color: var(--color-white);
  border: 1px solid #b6b6b6;
  border-radius: 0.5rem;
  overflow: scroll;
  z-index: var(--dropdown-index);
}

.success {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.badge {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.125rem;
  width: 100%;
  padding: 0.5rem 0.75rem;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 9999px;
  font-size: 1rem;
  line-height: 1.25rem;
  color: var(--color-white);
  cursor: default;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  width: 100%;
  color: var(--color-gray-500);
}

.wrapper .transparentEmoji {
  font-size: 4rem;
}
.wrapper .emptyDescription {
  font-size: var(--font-size-20);
}

.wrapper .retryButton {
  height: 2.5rem;
}

.wrapper img {
  width: 100%;
}

/* Tablet (768px ~ 1024px) */
@media (max-width: 1024px) {
  .emojiDropdown {
    width: 15rem;
    grid-template-columns: repeat(3, 1fr);
  }

  .badge:nth-child(n + 7) {
    display: none;
  }
}

/* Mobile (Max 767px) */
@media (max-width: 767px) {
  .emojiDropdown {
    width: 12rem;
    min-height: 6.125rem;
    max-height: 12rem;
    padding: 1rem;
  }

  .badge {
    font-size: 0.875rem;
    padding: 0.25rem 0.5rem;
  }
}
