.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.75rem;
  border: 1px solid var(--color-gray-250);
  background-color: var(--color-white);
  border-radius: 9999px;
  box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.button,
.button img {
  transition:
    transform 0.3s,
    background-color 0.3s;
}

.button:hover {
  background-color: var(--color-gray-100);
  transform: scale(105%);
}

.button:active {
  background-color: var(--color-gray-250);
  transform: scale(95%);
  transition: transform 0.2s;
}
