.container {
  width: 100%;
  border-bottom: 1px solid #ededed;
}

.inner_container {
  width: 75rem;
  height: 4rem;
  margin: 0 auto;
}

.hidden_on_desktop {
  display: hidden;
}

/* Tablet (768px ~ 1024px) */
@media (max-width: 1024px) {
  .inner_container {
    width: 100%;
    padding: 0 1.5rem;
  }

  .hidden_on_desktop {
    display: block;
  }

  .hidden_on_tablet {
    display: none;
  }

  .hidden_on_mobile {
    display: block;
  }
}

/* Mobile (Max 767px) */
@media (max-width: 767px) {
  .inner_container {
    padding: 0 1.25rem;
  }

  .hidden_on_tablet {
    display: block;
  }

  .hidden_on_mobile {
    display: none;
  }
}
